<section class="aus">
    <div class="bg">
        <div class="logo">
            <img src="assets/images/aus.png" alt="logo">
        </div>
        <div class="desc">
            <h1>ASSAM UNIVERSITY</h1>
            <p>{{abtAssamUniversity}}</p>
            <p>{{abtAssamUniversity2}}</p>
            <p>{{abtAssamUniversity3}}</p>
        </div>
    </div>
</section>
<section class="yantraksh">
    <div class="bg">
        <div class="logo">
            <img src="assets/images/logo.png" alt="logo">
        </div>
        <div class="desc">
            <h1>YANTRAKSH</h1>
            <p>{{yantraksh}}</p>
            <p>{{yantraksh2}}</p>
            <p>{{yantraksh3}}</p>
        </div>
    </div>
</section>
