<section class="events">
  <div class="title-page">
    <div class="title-events">
      <img src="assets/images/logo.png" alt="">
      <h1><span>EVENTS</span></h1>
    </div>
  </div>
  <div class="page Workshop">
    <div class="title-events one">
      <h1><span>Workshop<br>Events</span></h1>
    </div>
    <div class="sub-events">
      <div class="eve one">
        <div class="eve-name">
          <h1>WEB 3.0</h1>
        </div>
        <img src="assets/images/events/web3.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve two">
        <div class="eve-name">
          <h1>NANOTECH</h1>
        </div>
        <img src="assets/images/events/nano.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve three">
        <div class="eve-name">
          <h1>BLOCKCHAIN</h1>
        </div>
        <img src="assets/images/events/blockchain.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve four">
        <div class="eve-name">
          <h1>APP DEVELOPMENT</h1>
        </div>
        <img src="assets/images/events/appdev.png" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve five">
        <div class="eve-name">
          <h1>WEB DEVELOPMENT</h1>
        </div>
        <img src="assets/images/events/webdev.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve six">
        <div class="eve-name">
          <h1>CLOUD COMPUTING</h1>
        </div>
        <img src="assets/images/events/cloudcom.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve seven">
        <div class="eve-name">
          <h1>SIXTH SENSE TECHNOLOGY</h1>
        </div>
        <img src="assets/images/events/sstech.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page competitions">
    <div class="title-events two">
      <h1><span>COMPETITIONS</span></h1>
    </div>
    <div class="sub-events">
      <div class="eve one">
        <div class="eve-name">
          <h1>ROBO WAR</h1>
        </div>
        <img src="assets/images/events/rw.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve two">
        <div class="eve-name">
          <h1>HACKATHON</h1>
        </div>
        <img src="assets/images/events/ht.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve three">
        <div class="eve-name">
          <h1>CODING MANIA</h1>
        </div>
        <img src="assets/images/events/cm.png" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve four">
        <div class="eve-name">
          <h1>CIRCUIT DEBUGGING</h1>
        </div>
        <img src="assets/images/events/cd.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve five">
        <div class="eve-name">
          <h1>QUERY THE CHAT GPT</h1>
        </div>
        <img src="assets/images/events/cgpt.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve six">
        <div class="eve-name">
          <h1>PAPER PRESENTATION</h1>
        </div>
        <img src="assets/images/events/c6.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve seven">
        <div class="eve-name">
          <h1>DIGITAL CIRCUIT DESIGN</h1>
        </div>
        <img src="assets/images/events/cbb.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve eight">
        <div class="eve-name">
          <h1>BUILDING THE CHATBOTS</h1>
        </div>
        <img src="assets/images/events/cb.png" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve nine">
        <div class="eve-name">
          <h1>WHO HITS THE CODING 6</h1>
        </div>
        <img src="assets/images/events/c6.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve ten">
        <div class="eve-name">
          <h1>BATTLE OF BREAD BOARD</h1>
        </div>
        <img src="assets/images/events/bb.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page e-sports">
    <div class="title-events one">
      <h1><span>E-SPORTS</span></h1>
    </div>
    <div class="sub-events">
      <div class="eve one">
        <div class="eve-name">
          <h1>VALORANT</h1>
        </div>
        <img src="assets/images/events/vr.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve two">
        <div class="eve-name">
          <h1>MINI MILITIA</h1>
        </div>
        <img src="assets/images/events/mm.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve three">
        <div class="eve-name">
          <h1>COUNTER STRIKE</h1>
        </div>
        <img src="assets/images/events/cs.jpg" alt="">
        <div class="eve-details">
          <p>CALL OF DUTY MOBILE</p>
        </div>
      </div>
      <div class="eve four">
        <div class="eve-name">
          <h1>CALL OF DUTY MOBILE</h1>
        </div>
        <img src="assets/images/events/cod.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page tech">
    <div class="title-events one">
      <h1><span>TECH SHOW</span></h1>
    </div>
    <div class="sub-events">
      <div class="eve one">
        <div class="eve-name">
          <h1>TECH TALK</h1>
        </div>
        <img src="assets/images/events/tet.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve two">
        <div class="eve-name">
          <h1>LIGHT SHOW</h1>
        </div>
        <img src="assets/images/events/ls.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve three">
        <div class="eve-name">
          <h1>AR/VR SHOW</h1>
        </div>
        <img src="assets/images/events/arvr.png" alt="">
        <div class="eve-details">
          <p>CALL OF DUTY MOBILE</p>
        </div>
      </div>
      <div class="eve four">
        <div class="eve-name">
          <h1>HOLOGRAM SHOW</h1>
        </div>
        <img src="assets/images/events/hs.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page quiz">
    <div class="title-events one">
      <h1><span>QUIZES</span></h1>
    </div>
    <div class="sub-events">
      <div class="eve one">
        <div class="eve-name">
          <h1>FLAMES QUIZ</h1>
        </div>
        <img src="assets/images/events/cloudcom.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve two">
        <div class="eve-name">
          <h1>TECH WAR QUIZ</h1>
        </div>
        <img src="assets/images/events/cbb.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve three">
        <div class="eve-name">
          <h1>BIZ-TECH QUIZ</h1>
        </div>
        <img src="assets/images/events/blockchain.jpg" alt="">
        <div class="eve-details">
          <p>CALL OF DUTY MOBILE</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page sports">
    <div class="title-events two">
      <h1><span>sports</span></h1>
    </div>
    <div class="sub-events">
      <div class="eve one">
        <div class="eve-name">
          <h1>BOXING</h1>
        </div>
        <img src="assets/images/events/b.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve two">
        <div class="eve-name">
          <h1>KABADDI</h1>
        </div>
        <img src="assets/images/events/k.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve three">
        <div class="eve-name">
          <h1>VOLLEYBALL</h1>
        </div>
        <img src="assets/images/events/vb.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve four">
        <div class="eve-name">
          <h1>CARROM POOL</h1>
        </div>
        <img src="assets/images/events/ca.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve five">
        <div class="eve-name">
          <h1>TABLE TENNIS</h1>
        </div>
        <img src="assets/images/events/tt.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve six">
        <div class="eve-name">
          <h1>WEIGHT LIFTING</h1>
        </div>
        <img src="assets/images/events/wl.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve seven">
        <div class="eve-name">
          <h1>ARM WRESTLING</h1>
        </div>
        <img src="assets/images/events/ar.png" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve eight">
        <div class="eve-name">
          <h1>CHESS CHAMPIONSHIP</h1>
        </div>
        <img src="assets/images/events/cc.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve nine">
        <div class="eve-name">
          <h1>ELECTRONIC AIR HOCKEY TABLE</h1>
        </div>
        <img src="assets/images/events/ah.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page fun">
    <div class="title-events one">
      <h1><span>fun<br>activities</span></h1>
    </div>
    <div class="sub-events">
      <div class="eve one">
        <div class="eve-name">
          <h1>PAINT BALL</h1>
        </div>
        <img src="assets/images/events/pb.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve two">
        <div class="eve-name">
          <h1>FLASH MOB</h1>
        </div>
        <img src="assets/images/events/fm.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve three">
        <div class="eve-name">
          <h1>GALA NIGHT</h1>
        </div>
        <img src="assets/images/events/gn.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve four">
        <div class="eve-name">
          <h1>STREET TALENT</h1>
        </div>
        <img src="assets/images/events/st.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve five">
        <div class="eve-name">
          <h1>DUMB CHARADES</h1>
        </div>
        <img src="assets/images/events/dc.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page cultural">
    <div class="title-events one">
      <h1><span>CULTIRAL<br>EVENTS</span></h1>
    </div>
    <div class="sub-events">
      <div class="eve one">
        <div class="eve-name">
          <h1>DANCE PERFORMANCE</h1>
        </div>
        <img src="assets/images/events/dp.jpeg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve two">
        <div class="eve-name">
          <h1>SINGING PERFORMANCE</h1>
        </div>
        <img src="assets/images/events/sp.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve three">
        <div class="eve-name">
          <h1>STANDUP PERFORMANCE</h1>
        </div>
        <img src="assets/images/events/su.jpg" alt="">
        <div class="eve-details">
          <p>CALL OF DUTY MOBILE</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page other">
    <div class="title-events one">
      <h1><span>OTHER</span></h1>
    </div>
    <div class="sub-events">
      <div class="eve one">
        <div class="eve-name">
          <h1>TALK SHOW</h1>
        </div>
        <img src="assets/images/events/tas.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve two">
        <div class="eve-name">
          <h1>FASHION SHOW</h1>
        </div>
        <img src="assets/images/events/fs.jpg" alt="">
        <div class="eve-details">
          <p>hgcdrvbj tfdtvbhugy</p>
        </div>
      </div>
      <div class="eve three">
        <div class="eve-name">
          <h1>CELEBRITY PERFORMANCE</h1>
        </div>
        <img src="assets/images/events/cp.jpg" alt="">
        <div class="eve-details">
          <p>CALL OF DUTY MOBILE</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!--STARS OF THE NIGHT-->
<section class="events-stars">
  <div class="wrapper">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="main">
    <div class="title">
      <h1><span>stars of night</span></h1>
    </div>
    <div class="row">
      <div class="gallery">
        <div class="stars">
          <span style="--i:1;"><img src="assets/images/mIrfan/mi1.jpg" alt=""></span>
          <span style="--i:2;"><img src="assets/images/mIrfan/mi2.jpg" alt=""></span>
          <span style="--i:3;"><img src="assets/images/mIrfan/mi3.jpg" alt=""></span>
          <span style="--i:4;"><img src="assets/images/mIrfan/mi4.jpg" alt=""></span>
          <span style="--i:5;"><img src="assets/images/mIrfan/mi5.jpg" alt=""></span>
          <span style="--i:6;"><img src="assets/images/mIrfan/mi6.jpg" alt=""></span>
        </div>
      </div>
      <div class="nameplate">
        <div class="nmcard">
          <h2><span>Mohammad irfan</span></h2>
          <!-- <div class="details"> -->
          <p><span>Mohammed Irfan is an Indian playback singer who sings predominantly in Hindi. He has also sung in Tamil, Kannada, Odia, Telugu, Bengali, and Marathi. He won the title of "Jo Jeeta Wohi Super Star 2".He was also one of the contestants of "Amul STAR Voice of India", as well as "Sa Re Ga Ma Pa Challenge 2005", where he was on Ismail Darbar's "Yalgaar Ho Gharana". His song "Dil Sambhal Ja Zara" in the film "Murder 2" made him establish himself as a singer. In 2014 his songs included "Baarish" from "Yaariyan", "Muskurane" from "Citylights", "Banjaara" from "Ek Villain", "Dard Dilo Ke" from The "Xpose", and "Tu Hi Tu" from "Kick".</span></p>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="nameplate">
        <div class="nmcard">
          <h2><span>Nalayak Band</span></h2>
          <!-- <div class="details"> -->
          <p><span>DEFINED BY ITS ENCHANTING STAGE PERSONA, NALAYAK - THE BAND IS AN EMERGING, FIRST - OF - ITS KIND, INDEPENDENT ROCK BAND FROM CHANDIGARH. APPLAUDED FOR THE CRAZY ACTS AND STUPEFYING LIVE PERFORMANCES, NALAYAK'S MUSIC GENTLY TEASES THE BIZARRENES OF THE ``MODERN SOCIETY``.</span></p>
          <!-- </div> -->
        </div>
      </div>
      <div class="gallery">
        <div class="stars">
          <span style="--i:1;"><img src="assets/images/nalayk/nb1.jpg" alt=""></span>
          <span style="--i:2;"><img src="assets/images/nalayk/nb2.jpg" alt=""></span>
          <span style="--i:3;"><img src="assets/images/nalayk/nb3.jpg" alt=""></span>
          <span style="--i:4;"><img src="assets/images/nalayk/nb4.jpg" alt=""></span>
          <span style="--i:5;"><img src="assets/images/nalayk/nb5.jpg" alt=""></span>
          <span style="--i:6;"><img src="assets/images/nalayk/nb6.jpg" alt=""></span>
          <span style="--i:7;"><img src="assets/images/nalayk/nb7.jpg" alt=""></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="gallery">
        <div class="stars">
          <span style="--i:1;"><img src="assets/images/piyush/ps1.png" alt=""></span>
          <span style="--i:2;"><img src="assets/images/piyush/ps2.jpg" alt=""></span>
          <span style="--i:3;"><img src="assets/images/piyush/ps3.jpg" alt=""></span>
          <span style="--i:4;"><img src="assets/images/piyush/ps4.jpg" alt=""></span>
          <span style="--i:5;"><img src="assets/images/piyush/ps5.jpg" alt=""></span>
          <span style="--i:6;"><img src="assets/images/piyush/ps6.jpg" alt=""></span>
        </div>
      </div>
      <div class="nameplate">
        <div class="nmcard">
          <h2><span>piyush sharma</span></h2>
          <!-- <div class="details"> -->
          <p><span>Piyush Sharma is an Indian Stand Up Comedian. He is a Civil Engineer from IIT Bombay who turned into an amazing and well-known stand-up comedian who is loved and adored by his audience and fans. He is well known for his amazing stand-up comedy which never fails to get people to laugh their hearts out. Piyush Sharma is known for his presence on Instagram. Piyush Sharma usually creates reels of his comedy content on his social media. Piyush Sharma usually does many stand-up nights.</span></p>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="nameplate">
        <div class="nmcard">
          <h2><span>sunburn</span></h2>
          <p><span>Sunburn, a Percept Intellectual Property, is Asia’s Premiere Electronic Dance Music (EDM) Festival, and is ranked amongst the world’s biggest music festivals. Started in 2007 as a 3 day music festival in Goa, Sunburn has grown to become an aspirational lifestyle brand boasting an eclectic mix of music, entertainment, experiences and celebration that has seeded music tourism in India. Over the past decade, Sunburn has brought together renowned International and Indian artists to entertain hundreds of thousands of dance music lovers across the country and overseas, and positioned India as a prime dance festival destination to the world.</span></p>
        </div>
      </div>
      <div class="gallery">
        <div class="stars">
          <span style="--i:1;"><img src="assets/images/sunburn/sb1.jpg" alt=""></span>
          <span style="--i:2;"><img src="assets/images/sunburn/sb2.jpg" alt=""></span>
          <span style="--i:3;"><img src="assets/images/sunburn/sb3.jpg" alt=""></span>
          <span style="--i:4;"><img src="assets/images/sunburn/sb4.jpg" alt=""></span>
          <span style="--i:5;"><img src="assets/images/sunburn/sb5.jpg" alt=""></span>
          <span style="--i:6;"><img src="assets/images/sunburn/sb6.jpg" alt=""></span>
        </div>
      </div>
    </div>
  </div>
</section>
