<section class="Sponsorship-page">
    <div class="main">
        <div class="title">
            <img class="heading" src="assets/images/sponsor.jpg" alt="">
            <h1><span>Sponsorship tiers</span></h1>
        </div>
        <ul class="sponsors">
            <li class="sponsors-name">
                <div>
                    <h2><span>TITLE SPONSORS</span></h2>
                    <h3>Rs. 6,00,000</h3>
                    <ul class="details">
                        <li>
                            <p>{{sponsor1_1}}</p>
                        </li>
                        <li>
                            <p>{{sponsor1_2}}</p>
                        </li>
                        <li>
                            <p>{{sponsor1_3}}</p>
                        </li>
                        <li>
                            <p>{{sponsor1_4}}</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="sponsors-name">
                <div>
                    <h2><span>ASSOCIATE TITLE SPONSORS</span></h2>
                    <h3>Rs. 4,00,000</h3>
                    <ul class="details">
                        <li>
                            <p>{{sponsor2_1}}</p>
                        </li>
                        <li>
                            <p>{{sponsor2_2}}</p>
                        </li>
                        <li>
                            <p>{{sponsor2_3}}</p>
                        </li>
                        <li>
                            <p>{{sponsor2_4}}</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="sponsors-name">
                <div>
                    <h2><span>FOOD SPONSORS</span></h2>
                    <h3>Rs. 3,00,000</h3>
                    <ul class="details">
                        <li>
                            <p>{{sponsor3_1}}</p>
                        </li>
                        <li>
                            <p>{{sponsor3_2}}</p>
                        </li>
                        <li>
                            <p>{{sponsor3_3}}</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="sponsors-name">
                <div>
                    <h2><span>PLATINUM SPONSORS</span></h2>
                    <h3>Rs. 2,00,000</h3>
                    <ul class="details">
                        <li>
                            <p>{{sponsor4_1}}</p>
                        </li>
                        <li>
                            <p>{{sponsor4_2}}</p>
                        </li>
                        <li>
                            <p>{{sponsor4_3}}</p>
                        </li>
                        <li>
                            <p>{{sponsor4_4}}</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="sponsors-name">
                <div>
                    <h2><span>GOLD SPONSORS</span></h2>
                    <h3>Rs. 1,00,000</h3>
                    <ul class="details">
                        <li>
                            <p>{{sponsor4_1}}</p>
                        </li>
                        <li>
                            <p>{{sponsor4_2}}</p>
                        </li>
                        <li>
                            <p>{{sponsor4_3}}</p>
                        </li>
                        <li>
                            <p>{{sponsor4_4}}</p>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="sponsors-name">
                <div>
                    <h2><span>EVENT SPONSORS</span></h2>
                    <h3>Rs. 50,000 - Rs. 1,00,000</h3>
                    <ul class="details">
                        <li>
                            <p>{{sponsor4_1}}</p>
                        </li>
                        <li>
                            <p>{{sponsor4_2}}</p>
                        </li>
                        <li>
                            <p>{{sponsor4_3}}</p>
                        </li>
                        <li>
                            <p>{{sponsor4_4}}</p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>