
.first-page{
    overflow-x: hidden;
}
.bg{
    min-height: 100pc;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../../assets/images/bg.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
}
.logo h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 5em;
    color: var(--common-color);
    cursor: pointer;
}
.logo h1 span{
    transition: 0.5s ease-in-out;
}
.logo h1 span:hover{
    letter-spacing: 1em;
}
.logo{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: block;
}
.logo > img{
    width: 700px;
    transition: 0.6s ease-in-out;
}
.logo:hover img{
    transform: rotateY(360deg) translateY(-20px);
}
.bottom{
    width: 100%;
    bottom: 2px;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.prt2{
    margin-bottom: 20px;
    height: auto;
    margin-right: 20px;
    position: relative;

}
.prt2 h2{
    color: rgb(255, 0, 162);
    text-transform: uppercase;
}
.prt2 h3{
    color: var(--common-color);
    text-transform: uppercase;
}
@media only screen and (max-width: 900px) {
    .logo > img{
        width: 600px;
    }
    .prt1 h1{
        font-size: 30px;
    }
    .prt2 h3{
        font-size: small;
    }
    .prt2 h2{
        font-size: medium;
    }
}
@media screen and (900px<=width<=1500px) {
    .logo img{
        width: 700px;
    }
    .prt1 h1{
        font-size: 30px;
    }
    .prt2 h3{
        font-size: large;
    }
    .prt2 h2{
        font-size: larger;
    }
}

