<section class="feature-page">
    <div class="title">
        <img class="heading" src="assets/images/wcu.jpg" alt="">
        <h1><span>why choose us?</span></h1>
    </div>
    <div class="container">
        <div class="first">
            <h1>Exposur &<br>Visibility</h1>
            <p>Sponsors can reach out to a large and diverse audience of tech-savvy students and potential customers through various channels such as bannners, stalls, flyers, online media, etc. They can also showcase their products, srevices and brand image to the participants and guests.</p>
        </div>
        <div class="second">
            <h1>Engagement &<br>Interaction</h1>
            <p>Sponsors can conduct interactive sessions, demos or contests to engage with the participants and collect feedbacks. They can also network with peers and industry professionals and exchange ideas and insights.</p>
        </div>
        <div class="third">
            <h1>Support &<br>Recognition</h1>
            <p>Sponsors can support the growth and development of technology education and innovation in India by sponsoring events, workshops, lectures, etc. that promote learning and creativity. They can also receive recognition and apppreciation from the organizers,<br>participants and media.</p>
        </div>
    </div>
</section>
